
        
        .spec-table td {
            height:25px;
            width:20% ;
            text-align: center;
            border: 1px solid rgb(197, 195, 195);
            color: dimgrey;
        }
        .img{
            display: table;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
        .spec-table {
            width: 85%;
            height: 110px;
            border-collapse: collapse;
            border: 1px solid rgb(11, 11, 11);
            margin-left: auto;
            margin-right: auto;    
        }
        .spec-table th {
            background-color: rgb(255, 255, 255);
            color: dimgrey;
            
            text-align: center;
            border: 1px solid rgb(199, 196, 196);
        }
        div {
            
            margin-top: 20px;
            margin-bottom: 100px;
        }
        .spec-table2 {
            border-collapse: collapse;
            border: 2px solid black;
            width: 85%; 
            margin: auto;
            margin-top:25px ;
        }
        .spec-table2 th {
            width: 25%;
            border:2px solid black ;
            background-color: rgb(183, 180, 180)
        }
        .spec-table2 td {
            border: 2px solid black;
            text-align: center;
            
        }
        .spec-table3 {
            border-collapse: collapse;
            border: 2px solid black;
            width: 85%; 
            margin: auto;
           
        }
        .spec-table3 th {
            width: 25%;
            border:2px solid black ;
            background-color: rgb(183, 180, 180)
        }
        .spec-table3 td {
            border: 2px solid black;
            text-align: center;
            height: 35px;
            width: 50%;
        }

            
        
        .h1{
            text-align:left;
            margin-left:9% ;
            margin-top: 50px;
            margin-bottom: 50px;
            color: rgb(37, 119, 167);
        }
        h2,h3 {
            color: rgb(69, 72, 134);
            text-align: left;
            margin-left: 9%;
        }
        button  { 
             box-shadow: 3px 4px 0px 0px #1564ad;
            background-color: #79bbff;
            border-radius: 5px;
            border:1px solid #337bca;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 17px;
            font-weight: bold;
            padding: 12px 44px;
            text-decoration:none;
            text-shadow: 0px 1px 0px #528ecc;
            margin-top: 40px;
   
        }
        .elboton:hover{
            background-color: #378de5;
        }
        .elboton:active{
            position: relative;
            top: 1px;
        }
        button{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .img{
           
            width: 50%;
            margin: auto;
        }
        .videoportada{
            text-align: center;
        } 
        p {
            margin: 20px 20px  20px 20px;
            margin-bottom: 15px;
            margin-left: 10%;
            text-align: left;
            color: dimgray;
        }
        .parrafos {
            margin: 20px 20px  20px 20px;
            margin-bottom: 15px;
            margin-left: 10%;
            text-align: left;
            color: dimgray;
        }
        .index{
            border: 2px solid black;
            border-collapse: collapse;
            margin: auto;
            width: 85%;
        }
        .index th {
            border: 2px solid black;
            background-color: #a9a6a6;

        }
        .index td {
            border: 2px solid black;
            height:12px
        }
        .h2{
            color: rgb(100, 134, 176);
            text-align: left;
            margin-left: 9%;
        }
        .container{
            background-color: rgb(31, 177, 31);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 50vh;
            flex-wrap: center;
            gap: 100px;
            padding: 30px;
            margin-top: 20px;
            height: 550px;
        }
    
        
        .img1{
            position: relative;
            display: table;
            padding-left: 500px;
        }
        footer{
            background-color: green;
            color: white;
            padding: 20px;
        }
        .footer {
            width: 80%;
            margin: auto;
            background-color: white;

        }
        .footer td {
            text-align: left;
            color: black;
        }.footer th {
            text-align: left;
            color: black;
        }